.home-banner {
  background-image: url('https://images.unsplash.com/photo-1559443922-3f698a0ff27a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=369&q=80');
  background-size: cover;
  background-image: center;
  background-position: center;
  height: 100vh;
  color: #eee;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 40vh;
}

.home-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}